# Coefficients of a polynomial equation with two "sp" variables.
# sp(v,w) = c0 + c1*v + c2*w + c3*v^2 + c4*v*w + c5*w^2
# v: linear speed
# w: angular speed
# coefs_left, coefs_right = (c0, c1, c2, c3, c4, c5)

# Coefficients of a equation for forward motion.
# Degree 2 in linear speed, and degree 2 in angular speed.
[Coefficients_fwd]
coefs_left = (139.1, 0.1207, 30.77, 0.0006515, -0.4431, 29.48)
coefs_right = (134.8, 0.2552, 28.07, 0.000005086, 0.1133, 10.8)

# Coefficients of a equation for "only-turn" motion.
# Degree 2 in linear speed, and degree 2 in angular speed.
[Coefficients_turn]
coefs_left = (135.7, 0.1051, -67.33, -0.01572, 0.363, 5.26)
coefs_right = (111.1, 0.2264, 68.27, 0.01243, -0.3855, -5.102)


[Robot_chassis]
ugv_type = df_robot_baron4

[Communication]
protocol_type = zigbee
# wifi parameters
tcp_ip = 192.168.0.51
tcp_port = 31000
# zigbee parameters
baudrate = 57600
serial_port = /dev/ttyUSB0

[Controller]
controller_type = neural_line_follower
