# Coefficients of a polynomial equation with two "sp" variables.
# sp(v,w) = c0 + c1*v + c2*w + c3*v^2 + c4*v*w + c5*w^2
# v: linear speed
# w: angular speed
# coefs_left, coefs_right = (c0, c1, c2, c3, c4, c5)

# Coefficients of a equation for forward motion.
# Degree 2 in linear speed, and degree 2 in angular speed.
[Coefficients_fwd]
coefs_left = (117.1, 0.334, 36.02, 0.00002422, -0.4208, 22.21)
coefs_right = (141, 0.0902, -94.88, 0.0004565, 0.6557, 22.59)

# Coefficients of a equation for "only-turn" motion.
# Degree 1 in linear speed, and degree 2 in angular speed.
[Coefficients_turn]
coefs_left = (120.5, -0.2614, -93.01, 0., 0.8996, 11.93)
coefs_right = (134.5, 0.2614, 93.01, 0., -0.8996, -11.93)

# Other options:
# Coefficients of a equation for forward motion.
# Degree 1 in linear speed, and degree 1 in angular speed.
# coefs_left=(128.2, 0.311, -57.05, 0, 0, 0)
# coefs_right=(116.1, 0.3269, 60.87, 0, 0, 0)
# Degree 1 in linear speed, and degree 2 in angular speed.
# coefs_left=(115.5, 0.347, 36.6, 0, -0.4232, 22.03)
# coefs_right=(110.7, 0.3357, -84.03, 0, 0.6101, 19.21)
